* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: hsl(226, 43%, 10%);
  font-size: 18px;
  color: white;
  isplay: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}
 .profile-card  {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  overflow: hidden;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.profile-info {
  background-color: hsl(246, 80%, 60%);
  padding: 2rem 1.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

.profile-info .avatar {
  width: 60px;
  border: 3px solid white;
  border-radius: 50%;
}


.report p {
  color: hsl(236, 100%, 87%);
  font-size: 0.875rem;
}

.report h1 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
}

.time-filters {
  list-style: none;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time-filters li {
  color: hsl(236, 100%, 87%);
  cursor: pointer;
  transition: color 0.2s;
}

.time-filters li:hover,
.time-filters li.active {
  color: white;
}

.card {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.card-bg {
  height: 50px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60px;
}

.card-content {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
  top: -20px;
  z-index: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  font-size: 1rem;
  font-weight: 500;
}

.card-body {
  margin-top: 1.5rem;
}

.card-body .current {
  font-size: 2rem;
  font-weight: 300;
}

.card-body .previous {
  font-size: 0.875rem;
  color: hsl(236, 100%, 87%);
}
